@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alegreya+Sans+SC:ital@0;1&family=Baloo+2:wght@500;600&family=Geologica:wght@300;600&family=Josefin+Sans:wght@200&family=Roboto:wght@300;400&family=Ubuntu+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}